.background {
  background-color: #474747;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.header {
  justify-content: space-between;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.flex {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: 7.8%;
}
.name-title {
  display: flex;
  flex-direction: column;
  margin-right: 210px;
}
.name {
  font-size: 46px;
}
.title {
  font-size: 32px;
}
.main-image {
  width: 70.7%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.featured-work-text {
  color: white;
  font-size: 36px;
}
.app-image {
  width: 50%;
}
.app-container {
  text-align: center;
  width: 100%;
}
.app-name {

}
.align-to-center {
  margin-left: 208px;
}
